{% extends "common/_base.html" %}
{% load compress %}
{% load staticfiles %}

{% block styles %}
<!-- <link rel="stylesheet" href="{% static 'stylesheets/css/jTinder.css' %}?v=00001">
<link rel="stylesheet" href="{% static 'stylesheets/css/myTinder.css' %}?v=00001"> -->
{% endblock %}

{% block content %}

<body>
    <div class="header">
        <div class="cog"></div>
        <div class="tinder-logo"></div>
        <div class="chat"></div>
    </div>
    <div class="push">
    <!-- start padding container -->
    <div class="wrap">
        <!-- start jtinder container -->
        <div id="tinderslide">
            <ul>
            {% for participant in participants %}
                <li class="pane pane{{forloop.counter}}" data-participant-id="{{participant.id}}" data-name="{{participant.first_name}}">
                    <div class="img" style="background:url('{% static participant.picture.url %}') no-repeat top center;"></div>
                    <div class="info">
                    <p class="text">{{participant.first_name}}, {{participant.age}}</p>
                    <div class="friends"></div>
                    </div>
                    <div class="like"></div>
                    <div class="dislike"></div>
                </li>
                <li class="done hide"><p>Done!</p></li>
            {% endfor %}
            </ul>
            <!-- <ul class="discarded">
            </ul> -->
        </div>
        <!-- end jtinder container -->
    </div>
    <!-- end padding container -->

    <!-- jTinder trigger by buttons  -->
    <div class="actions" id="control">
        <div class="button no">
            <a href="#" class="dislike trigger"></a>
        </div>
        <div class="button info">
            <a href="#" class="trigger"></a>
        </div>
        <div class="button yes">
            <a href="#" class="like trigger"></a>
        </div>
    </div>
    <div id="merci" class="hide">
        <p> Merci d'avoir voté pour <span class="winner"></span> ! </p>
    </div>
    </div>
</body>

{% endblock %}

{% block scripts %}

{% compress js %}
<!-- Your extra javascript here -->

<script>
    var context = {
        swipeRightUrl: function(uid) {
            return '{% url "swipe-right" uid=999 %}'.replace(999, uid);
        },
        swipeLeftUrl: function(uid) {
            return '{% url "swipe-left" uid=999 %}'.replace(999, uid);
        },
        voteUrl: function(uid) {
            return '{% url "vote" uid=999 %}'.replace(999, uid);
        }
    };
</script>
<script src="{% static 'javascripts/jquery.transform2d.js' %}"></script>
<script src="{% static 'javascripts/jquery.jTinder.js' %}"></script>
<script src="{% static 'javascripts/main.js' %}"></script>


{% endcompress %}

{% endblock %}