{% extends "common/_base.html" %}
{% load compress %}
{% load staticfiles %}

{% block styles %}
<!-- <link rel="stylesheet" href="{% static 'bower_components/swing/examples/card-stack/card-stack.css' %}"> -->
<link rel="icon" href="data:;base64,iVBORw0KGgo=">
{% endblock %}

{% block content %}

<body>
    <div id="viewport">
        <ul class="stack">
            {% for participant in participants %}
                <li class="card">
                    <img src="{% static participant.picture.url %}">
                    <p>{{participant.first_name}}, {{participant.age}}</p>
                </li>
            {% endfor %}
        </ul>
    </div>
</body>

{% endblock %}

{% block scripts %}

{% compress js %}
<!-- Your extra javascript here -->
<script src="{% static 'bower_components/swing/dist/browser/swing.js' %}"></script>
<script src="{% static 'javascripts/tinder.js'%}"></script>

{% endcompress %}

{% endblock %}